<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
	<script src="https://cdn.tailwindcss.com"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
	<style>
		.font-permanent-marker {
			font-family: "Permanent Marker"
		}
		.text-outline {
			-webkit-text-stroke: 1px white;
		}
	</style>
</head>
<body>
	<div class="flex h-24">
		<img src='/static/bike_shop.jpg' class="flex flex-1 object-cover">
  	<img src='/static/sunset3.drawio.png' class="w-[5%] object-cover">
	</div>
	<div class="flex flex-row bg-slate-800">
		<div hx-get="/home-content" hx-target="#content" hx-swap="outerHTML" class="bg-gradient-to-r from-orange-500 to-orange-400 mx-2 px-2 w-32">Home</div>
		<div hx-get="/brand-content" hx-target="#content" hx-swap="outerHTML" class="bg-gradient-to-r from-orange-500 to-orange-400 mx-2 px-2 w-32">Brands</div>
		<div hx-get="/service-content" hx-target="#content" hx-swap="outerHTML" class="bg-gradient-to-r from-orange-500 to-orange-400 mx-2 px-2 w-32">Service & Rates</div>
		<div hx-get="/booking-content" hx-target="#content" hx-swap="outerHTML" class="bg-gradient-to-r from-orange-500 to-orange-400 mx-2 px-2 w-32">Book a Service</div>
		<div hx-get="/review-content" hx-target="#content" hx-swap="outerHTML" class="bg-gradient-to-r from-orange-500 to-orange-400 mx-2 px-2 w-32">Reviews</div>
	</div>
</body>
<div id="content">
	<p>Home page</p>
</div>
